* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes expandWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.header {
  display: none;
}
.header .nav-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  background: rgb(34, 179, 193);
}
.header .nav-container nav .navbar-logo {
  width: 25%;
  display: flex;
  justify-content: center;
}
.header .nav-container nav .navbar-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #281e42;
}
.header .nav-container nav .navbar-logo a .logo-text {
  margin-left: 0.8rem;
}
.header .nav-container nav .navbar-logo a .logo-text p {
  display: block;
  margin: 0;
  font-size: 30px;
  text-transform: lowercase;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  position: relative;
  top: 3px;
}
.header .nav-container nav .navbar-logo a .logo-text span {
  position: relative;
  bottom: 5px;
  margin: 0;
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.header .nav-container nav .navbar-logo a img {
  width: 3.2rem;
}
.header .nav-container nav .navbar-items {
  width: 70%;
}
.header .nav-container nav .navbar-items .navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header .nav-container nav .navbar-items .navbar-menu .nav-links ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}
.header .nav-container nav .navbar-items .navbar-menu .nav-links ul a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: clamp(14px, 4vw, 17px);
  font-weight: 400;
  cursor: pointer;
  position: relative;
  display: block;
  font-family: "Poppins", sans-serif;
}
.header .nav-container nav .navbar-items .navbar-menu .nav-links ul a::before {
  content: " ";
  width: 0%;
  display: block;
  height: 2px;
  position: absolute;
  top: -5px;
  background: rgb(255, 255, 255);
  transition: 0.5s ease all;
}
.header .nav-container nav .navbar-items .navbar-menu .nav-links ul a:hover::before {
  width: 45px;
}
.header .nav-container nav .navbar-items .navbar-menu .nav-lang .lang {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}
.header .nav-container nav .navbar-items .navbar-menu .nav-lang .lang li {
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.header .nav-container nav .navbar-items .navbar-menu .nav-lang .lang li:hover {
  color: rgb(40, 30, 66);
}
.header .nav-container nav .navbar-items .navbar-menu .nav-lang .lang li a {
  display: block;
}
.header .nav-container nav .menu-logo {
  display: none;
}
.header .nav-container nav .menu-logo .open-menu {
  cursor: pointer;
}
.header .nav-container nav .menu-logo .close-menu {
  cursor: pointer;
}
.header .nav-container .mobile-menus {
  display: none;
  width: 60%;
}
.header .nav-container .mobile-menus .mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.header .nav-container .mobile-menus .mobile .nav-links ul {
  list-style: none;
}
.header .nav-container .mobile-menus .mobile .nav-links ul li {
  padding: 0.8rem 0;
  border-bottom: 1px solid rgba(169, 189, 202, 0.9);
}
.header .nav-container .mobile-menus .mobile .nav-links ul li a {
  text-decoration: none;
  color: rgba(32, 16, 16, 0.753);
  font-size: clamp(14px, 4vw, 17px);
  font-weight: 400;
  cursor: pointer;
  position: relative;
  display: block;
  font-family: "Poppins", sans-serif;
}
.header .nav-container .mobile-menus .mobile .nav-links ul li a:hover {
  color: rgb(133, 111, 187);
}
.header .nav-container .mobile-menus .mobile .nav-lang .lang {
  list-style: none;
}
.header .nav-container .mobile-menus .mobile .nav-lang .lang li {
  padding: 0.5rem 0;
  vertical-align: middle;
  margin: auto 0;
  border-bottom: 1px solid rgba(169, 189, 202, 0.9);
  color: rgba(32, 16, 16, 0.753);
  text-transform: uppercase;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.header .nav-container .mobile-menus .mobile .nav-lang .lang li:hover {
  color: rgb(40, 30, 66);
}
.header .nav-container .mobile-menus .mobile .nav-lang .lang li a {
  display: block;
}
.tour {
  border-bottom: 2px solid rgb(238, 238, 238);
  margin: 2rem 0;
}
.tour .container {
  width: 85%;
  margin: 0 auto;
}
.tour .container article {
  margin: 0 auto;
}
.tour .container article h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 40px;
  font-family: "Poppins", sans-serif;
  font-size: clamp(24px, 4vw, 30px);
  font-weight: 700;
  text-transform: capitalize;
  color: #2a2a2a;
  text-align: center;
}
.tour .container article p {
  text-align: center;
  font-size: clamp(12px, 4vw, 16px);
  color: #afafaf;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 50%;
}
.tour .container article .carousel {
  margin: 3rem 0 2rem 0;
}
.tour .container article .carousel .carousel-card {
  width: 33%;
  transition: 0.5s ease all;
  height: 400px;
  position: relative;
  margin: 2rem 0;
}
.tour .container article .carousel .carousel-card .carousel-img {
  width: 320px;
  height: 240px;
  border-radius: 1.1rem;
  overflow: hidden;
}
.tour .container article .carousel .carousel-card .carousel-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.tour .container article .carousel .carousel-card .carousel-text {
  position: absolute;
  box-shadow: 0px 0px 15px rgb(0, 0, 0);
  top: 60%;
  transform: translateY(-50%);
  left: 80px;
  width: 280px;
  height: 350px;
  padding: 1.5rem 1rem;
  background: rgb(255, 255, 255);
  border-radius: 1.1rem;
  padding-bottom: 1rem;
}
.tour .container article .carousel .carousel-card .carousel-text .text-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tour .container article .carousel .carousel-card .carousel-text .text-top h3 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 4vw, 22px);
  font-weight: bold;
}
.tour .container article .carousel .carousel-card .carousel-text .text-top span {
  color: rgb(136, 120, 175);
  font-weight: bold;
  font-size: 18px;
}
.tour .container article .carousel .carousel-card .carousel-text .text-detail {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.tour .container article .carousel .carousel-card .carousel-text .text-detail::after {
  content: "";
  width: 100%;
  height: 1px;
  margin: 0.8rem 0 0.3rem 0;
  position: absolute;
  left: 0;
  bottom: -10px;
  background: rgb(238, 238, 238);
}
.tour .container article .carousel .carousel-card .carousel-text .text-detail span {
  color: #afafaf;
  font-size: 14px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.tour .container article .carousel .carousel-card .carousel-text .text-detail .span {
  color: #afafaf;
  font-size: 14px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
}
.tour .container article .carousel .carousel-card .carousel-text .text-detail .span img {
  transform: translateY(-50%);
  margin-right: 5px;
}
.tour .container article .carousel .carousel-card .carousel-text .text-bottom {
  margin-top: 1rem;
}
.tour .container article .carousel .carousel-card .carousel-text .text-bottom h4 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(12px, 4vw, 16px);
  font-weight: bold;
}
.tour .container article .carousel .carousel-card .carousel-text .text-bottom ul {
  list-style: none;
}
.tour .container article .carousel .carousel-card .carousel-text .text-bottom ul li {
  margin: 0.2rem 0;
  display: flex;
  align-items: center;
}
.tour .container article .carousel .carousel-card .carousel-text .text-bottom ul li span {
  color: #afafaf;
  font-size: 14px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.tour .container article .carousel .carousel-card .carousel-text .text-bottom ul li img {
  transform: translateY(-40%);
  margin-right: 5px;
}
.tour .container article .carousel .carousel-card .carousel-text a {
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  text-align: center;
  padding: 0.6rem 1.8rem;
  border-radius: 1.5rem;
  color: rgb(255, 255, 255);
  background-color: #22b3c1;
  border: 1px solid #22b3c1;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
  transition: 0.5s ease all;
  overflow: hidden;
}
.tour .container article .btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0 3rem 0;
}
.tour .container article .btn-group .prev,
.tour .container article .btn-group .next {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  border: 2px solid rgb(34, 179, 193);
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: 0.5s ease-in-out;
}
.tour .container article .btn-group .prev .icon,
.tour .container article .btn-group .next .icon {
  color: rgb(34, 179, 193);
  font-size: 1.4rem;
}
.tour .container article .btn-group .prev:hover,
.tour .container article .btn-group .next:hover {
  background: rgb(34, 179, 193);
}
.tour .container article .btn-group .prev:hover .icon,
.tour .container article .btn-group .next:hover .icon {
  color: rgb(255, 255, 255);
}

.main .slides {
  width: 100%;
  position: relative;
}
.main .slides .slides-bg {
  overflow: hidden;
}
.main .slides .slides-bg .slide {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 640px;
  background-position: center;
  text-align: center;
}
.main .slides .slides-bg .slide .pi {
  font-size: clamp(14px, 4vw, 20px);
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 500;
  margin: 7rem 0 1rem 0;
}
.main .slides .slides-bg .slide h2 {
  font-size: clamp(18px, 4vw, 46px);
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
  margin: 1rem 0 0.5rem 0;
}
.main .slides .slides-bg .slide a {
  display: inline-block;
  padding: 0.6rem 1.8rem;
  background: rgb(34, 179, 193);
  text-decoration: none;
  border-radius: 1.8rem;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  font-size: clamp(15px, 4vw, 17px);
  margin: 0.5rem 0;
}
.main .slides .slides-bg .slide .city-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 2rem 2.5rem;
  background: rgb(255, 255, 255);
  border-radius: 4rem;
  width: 80%;
  margin: 3rem auto;
}
.main .slides .slides-bg .slide .city-info .box {
  display: flex;
  width: 25%;
  align-items: center;
  gap: 1rem;
  text-align: left;
}
.main .slides .slides-bg .slide .city-info .box .img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 1px solid rgb(34, 179, 193);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.main .slides .slides-bg .slide .city-info .box .text p {
  font-family: "Poppins", sans-serif;
  font-size: clamp(12px, 4vw, 16px);
  color: rgb(175, 175, 175);
}
.main .slides .slides-bg .slide .city-info .box .text h1 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 4vw, 20px);
  color: rgb(34, 179, 193);
}
.main .slides .slides-bg .slide1 {
  background-image: url("..//..//public/Images/dubai.jpg");
}
.main .slides .slides-bg .slide2 {
  background-image: url("..//..//public/Images/madrid.jpg");
}
.main .slides .slides-bg .slide3 {
  background-image: url("..//..//public/Images/seoul.jpg");
}
.main .slides .slides-bg .slide4 {
  background-image: url("..//..//public/Images/london.jpg");
}
.main .slides .lines {
  position: absolute;
  bottom: 50px;
  transform: translateX(50%);
  right: 50%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .slides .lines .line {
  text-align: center;
  width: 18%;
  position: relative;
}
.main .slides .lines .line .div {
  position: absolute;
  top: 16px;
  left: 0;
  z-index: 1;
}
.main .slides .lines .line span {
  margin: 0;
  width: 100%;
  height: 2px;
  display: block;
  cursor: pointer;
  margin: 1rem 0;
  background: rgb(255, 255, 255);
}
.main .slides .lines .line .div1 {
  height: 2px;
  background-color: red;
  animation: expandWidth 2s forwards infinite;
}
.main .slides .lines .line .div2 {
  animation-delay: 2s;
}
.main .slides .lines .line .div3 {
  animation-delay: 4s;
}
.main .slides .lines .line .div4 {
  animation-delay: 6s;
}
.main .slides .lines strong {
  color: rgb(255, 255, 255);
}

.about .container {
  width: 85%;
  margin: 0 auto;
}
.about .container .destenation h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 40px;
  font-family: "Poppins", sans-serif;
  font-size: clamp(24px, 4vw, 30px);
  font-weight: 700;
  text-transform: capitalize;
  color: #2a2a2a;
  margin-bottom: 0.5rem;
  width: 36%;
  line-height: 40px;
}
@media screen and (max-width: 1140px) {
  .about .container .destenation h2 {
    width: 100%;
    line-height: 30px;
  }
}
.about .container .destenation p {
  text-align: center;
  font-size: clamp(12px, 4vw, 16px);
  color: #afafaf;
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin-bottom: 1rem;
  width: 40%;
  line-height: 30px;
  font-size: clamp(14px, 4vw, 15px);
}
@media screen and (max-width: 840px) {
  .about .container .destenation p {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
.about .container .destenation .cards .card {
  width: 100%;
  display: flex;
  align-items: center;
  align-items: start;
  gap: 1.5rem;
  margin: 2rem 0;
}
.about .container .destenation .cards .card .card-text {
  width: 70%;
  max-width: 700px;
}
.about .container .destenation .cards .card .card-text .text {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.about .container .destenation .cards .card .card-text .text .text-item h3 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 4vw, 22px);
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 4vw, 22px);
}
.about .container .destenation .cards .card .card-text .text .text-item p {
  width: auto;
}
.about .container .destenation .cards .card .card-text .text a {
  text-decoration: none;
  background: rgb(34, 179, 193);
  padding: 0.6rem 1.8rem;
  border-radius: 1.8rem;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  font-size: clamp(14px, 4vw, 16px);
  margin: 0;
}
.about .container .destenation .cards .card .card-text p {
  width: auto;
}
.about .container .destenation .cards .card .card-image {
  width: 30%;
  max-width: 300px;
  height: 200px;
  border-radius: 1.2rem;
  overflow: hidden;
}
.about .container .destenation .cards .card .card-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
@media screen and (max-width: 840px) {
  .about .container .destenation .cards .card {
    flex-direction: column;
    margin: 1rem 0;
  }
  .about .container .destenation .cards .card .card-text {
    width: 100%;
  }
  .about .container .destenation .cards .card .card-text .text a {
    padding: 0.3rem;
    width: 140px;
    text-align: center;
    position: relative;
    left: 0;
    z-index: 100;
  }
  .about .container .destenation .cards .card .card-image {
    width: 100%;
    max-width: 840px;
  }
}
.about .container .countries h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 40px;
  font-family: "Poppins", sans-serif;
  font-size: clamp(24px, 4vw, 30px);
  font-weight: 700;
  text-transform: capitalize;
  color: #2a2a2a;
  width: 40%;
  line-height: 40px;
}
@media screen and (max-width: 1140px) {
  .about .container .countries h2 {
    line-height: 30px;
    width: 100%;
  }
}
.about .container .countries .pi {
  text-align: center;
  font-size: clamp(12px, 4vw, 16px);
  color: #afafaf;
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: clamp(12px, 4vw, 15px);
  line-height: 30px;
  width: 40%;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1140px) {
  .about .container .countries .pi {
    width: 100%;
  }
}
.about .container .countries .boxes {
  width: 85%;
}
@media screen and (max-width: 840px) {
  .about .container .countries .boxes {
    width: 100%;
  }
}
.about .container .countries .boxes .box {
  display: flex;
  gap: 1.5rem;
  margin: 2rem 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}
.about .container .countries .boxes .box .box-image {
  width: 35%;
  height: 200px;
  border-radius: 1.2rem;
  overflow: hidden;
}
.about .container .countries .boxes .box .box-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .container .countries .boxes .box .box-text {
  width: 70%;
}
.about .container .countries .boxes .box .box-text .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .container .countries .boxes .box .box-text .text .text-item h3 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(20px, 4vw, 22px);
  line-height: 30px;
  margin: 0;
}
.about .container .countries .boxes .box .box-text .text .text-item p {
  text-align: center;
  font-size: clamp(12px, 4vw, 16px);
  color: #afafaf;
  font-family: "Poppins", sans-serif;
  margin: 0;
  text-align: left;
}
.about .container .countries .boxes .box .box-text .text a {
  display: block;
  text-decoration: none;
  background: rgb(34, 179, 193);
  padding: 0.6rem 1.8rem;
  border-radius: 1.8rem;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  font-size: clamp(14px, 4vw, 16px);
  margin: 0;
}
.about .container .countries .boxes .box .box-text p {
  text-align: center;
  font-size: clamp(12px, 4vw, 16px);
  color: #afafaf;
  font-family: "Poppins", sans-serif;
  font-size: clamp(12px, 4vw, 15px);
  text-align: left;
  line-height: 30px;
  margin-top: 1rem;
}
.about .container .countries .boxes .box .box-text .box-lines {
  display: flex;
  align-items: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 1rem 0;
  padding: 0.5rem 0;
  justify-content: space-between;
}
.about .container .countries .boxes .box .box-text .box-lines .box-line {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
@media screen and (max-width: 500px) {
  .about .container .countries .boxes .box .box-text .box-lines .box-line {
    flex-direction: column;
    gap: 0;
  }
}
.about .container .countries .boxes .box .box-text .box-lines .box-line .img img {
  transform: translateY(50%);
}
@media screen and (max-width: 840px) {
  .about .container .countries .boxes .box {
    flex-direction: column;
  }
  .about .container .countries .boxes .box .box-text {
    width: 100%;
    margin: 0 auto;
  }
  .about .container .countries .boxes .box .box-text .text a {
    padding: 0.3rem;
    width: 140px;
    text-align: center;
    position: relative;
    left: 0;
    z-index: 100;
  }
  .about .container .countries .boxes .box .box-image {
    width: 100%;
  }
}
.about .container .best-location {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about .container .best-location h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 40px;
  font-family: "Poppins", sans-serif;
  font-size: clamp(24px, 4vw, 30px);
  font-weight: 700;
  text-transform: capitalize;
  color: #2a2a2a;
  width: 60%;
  text-align: center;
}
.about .container .best-location p {
  text-align: center;
  font-size: clamp(12px, 4vw, 16px);
  color: #afafaf;
  font-family: "Poppins", sans-serif;
  width: 60%;
  margin-bottom: 20px;
}
.about .container .best-location .gallery {
  display: flex;
  width: 100%;
  row-gap: 1rem;
}
.about .container .best-location .gallery .card {
  flex: 1;
  width: 100%;
  height: 560px;
  transition: flex 0.75s ease-in;
}
@media screen and (max-width: 480px) {
  .about .container .best-location .gallery .card {
    height: 320px;
  }
  .about .container .best-location .gallery .card:nth-child(even) {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .about .container .best-location .gallery .card:hover {
    flex: 5;
  }
}
.about .container .best-location .gallery .card .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: width 0.3s ease-in-out;
  cursor: pointer;
}
.about .container .best-location .gallery .card .image:active {
  width: 500px;
}

.contact .contact-info {
  width: 100%;
  background-image: url("..//..//public/Images/bgImage.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 640px;
  margin: 2rem 0 8rem 0;
}
.contact .contact-info .container {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
.contact .contact-info .container .pi {
  text-align: center;
  font-size: clamp(12px, 4vw, 16px);
  color: #afafaf;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  font-size: clamp(16px, 4vw, 20px);
  margin: 12rem 0 1rem 0;
  display: inline-block;
}
.contact .contact-info .container span {
  width: 10%;
  height: 2px;
  background: rgb(255, 255, 255);
  text-align: center;
  margin: 1rem auto;
  display: block;
}
.contact .contact-info .container h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 40px;
  font-family: "Poppins", sans-serif;
  font-size: clamp(24px, 4vw, 30px);
  font-weight: 700;
  text-transform: capitalize;
  color: #2a2a2a;
  font-size: clamp(20px, 4vw, 45px);
  color: rgb(255, 255, 255);
  margin: 1.5rem 0;
}
.contact .contact-info .container a {
  display: inline-block;
  padding: 0.6rem 1.8rem;
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 4vw, 15px);
  text-decoration: none;
  background: rgb(255, 255, 255);
  border-radius: 1.8rem;
  color: rgb(136, 120, 175);
  font-weight: 500;
  margin: 1rem 0;
  transition: 0.5s ease-in-out;
}
.contact .contact-info .container a:hover {
  color: rgb(255, 255, 255);
  background: rgb(136, 120, 175);
}
.contact .contact-info .container .cards {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  position: relative;
  bottom: -100px;
}
.contact .contact-info .container .cards .card {
  width: 30%;
  padding: 2rem 1rem;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 1.8rem;
}
.contact .contact-info .container .cards .card .img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.contact .contact-info .container .cards .card h3 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 4vw, 22px);
  font-weight: bold;
  margin: 0.5rem 0;
  font-size: clamp(16px, 4vw, 20px);
}
.contact .contact-info .container .cards .card p {
  text-align: center;
  font-size: clamp(12px, 4vw, 16px);
  color: #afafaf;
  font-family: "Poppins", sans-serif;
  margin: 0.5rem 0;
}
.contact .map-form .container {
  width: 85%;
  margin: 0 auto;
}
.contact .map-form .container .form {
  width: 80%;
  margin: 0 auto;
}
.contact .map-form .container .form .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.contact .map-form .container .form .form-container .input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.contact .map-form .container .form .form-container .input-group .input-item {
  display: flex;
  flex-direction: column;
  width: 48%;
}
@media screen and (max-width: 600px) {
  .contact .map-form .container .form .form-container .input-group .input-item {
    width: 100%;
  }
}
.contact .map-form .container .form .form-container .input-group .input-item input,
.contact .map-form .container .form .form-container .input-group .input-item select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  border-radius: 1.8rem;
  padding: 1rem 1rem;
  height: 3rem;
}
.contact .map-form .container .form .form-container .input-group .input-item input[type=date] {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: clamp(12px, 4vw, 16px);
  color: #afafaf;
  font-family: "Poppins", sans-serif;
}
.contact .map-form .container .form .form-container .input-group .input-item select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
  padding-right: 30px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
  color: #afafaf;
  font-family: "Poppins", sans-serif;
  text-align: left;
}
.contact .map-form .container .form .form-container .input-group .input-item select option {
  padding: 10px;
  color: #333;
  background-color: #fff;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.contact .map-form .container .form .form-container .input-group .input-item input::-moz-placeholder {
  text-align: center;
  font-size: clamp(12px, 4vw, 16px);
  color: #afafaf;
  font-family: "Poppins", sans-serif;
  text-align: left;
}
.contact .map-form .container .form .form-container .input-group .input-item input::placeholder {
  text-align: center;
  font-size: clamp(12px, 4vw, 16px);
  color: #afafaf;
  font-family: "Poppins", sans-serif;
  text-align: left;
}
.contact .map-form .container .form .form-container .input-group .input-item label {
  text-align: center;
  font-size: clamp(12px, 4vw, 16px);
  color: #afafaf;
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin-bottom: 5px;
  font-size: 16px;
}
@media (max-width: 600px) {
  .contact .map-form .container .form .form-container .input-group {
    flex-direction: column;
  }
}
.contact .map-form .container .form .form-container .single-item {
  display: block;
  width: 100%;
}
.contact .map-form .container .form .form-container .single-item .input-item {
  width: 100%;
}
.contact .map-form .container .form .form-container button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

@media screen and (max-width: 992px) {
  .header .nav-container {
    position: relative;
  }
  .header .nav-container nav {
    padding: 1.5rem 0.5rem;
  }
  .header .nav-container nav .navbar-logo {
    width: auto;
  }
  .header .nav-container nav .navbar-items {
    display: none;
  }
  .header .nav-container nav .navbar-items .navbar-menu {
    flex-direction: column;
    row-gap: 0.7rem;
  }
  .header .nav-container nav .navbar-items .navbar-menu .nav-links ul {
    flex-direction: column;
    row-gap: 0.7rem;
  }
  .header .nav-container nav .navbar-items .navbar-menu .nav-lang .lang {
    flex-direction: column;
    row-gap: 0.7rem;
  }
  .header .nav-container nav .menu-logo {
    display: block;
  }
  .header .nav-container .mobile-menus {
    display: block;
    position: absolute;
    background: rgb(255, 255, 255);
    z-index: 100;
    width: 80%;
    top: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .main .slides .slides-bg .slide .city-info {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .main .slides .slides-bg .slide .city-info .box {
    width: 45%;
  }
  .about .container article .carousel {
    margin: 1rem 0;
  }
  .about .container article .carousel .carousel-card {
    width: 100%;
  }
  .about .container article .carousel .carousel-card .carousel-img {
    width: 270px;
  }
  .about .container article .carousel .carousel-card .carousel-text {
    width: 240px;
    position: absolute;
    left: 50px;
  }
}
@media screen and (max-width: 768px) {
  .header .nav-container .mobile-menus {
    width: 100%;
  }
  .tour {
    margin: 1rem 0;
  }
  .tour .container article h2 {
    margin-bottom: 10px;
    line-height: 30px;
  }
  .tour .container article p {
    width: 100%;
    margin-bottom: 10px;
  }
  .tour .container article .carousel {
    margin: 0;
  }
  .tour .container article .btn-group {
    margin: 1rem 0 2rem 0;
  }
  .main .slides .slides-bg .slide {
    height: 500px;
  }
  .main .slides .slides-bg .slide .pi {
    font-size: clamp(14px, 4vw, 20px);
    text-align: center;
    font-weight: 500;
    margin: 3rem 0 1rem 0;
  }
  .main .slides .slides-bg .slide h2 {
    font-size: clamp(24px, 4vw, 46px);
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    margin: 1rem 0 0.5rem 0;
  }
  .main .slides .slides-bg .slide .city-info {
    border-radius: 1rem;
    width: 90%;
    max-width: 800px;
    padding: 1.2rem;
  }
  .main .slides .slides-bg .slide .city-info .box {
    gap: 0.5rem;
  }
  .main .slides .slides-bg .slide .city-info .box .img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid rgb(34, 179, 193);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
  .main .slides .slides-bg .slide .city-info .box .text p {
    font-family: "Poppins", sans-serif;
    font-size: clamp(12px, 4vw, 13px);
    color: rgb(175, 175, 175);
  }
  .main .slides .slides-bg .slide .city-info .box .text h1 {
    font-family: "Poppins", sans-serif;
    font-size: clamp(12px, 4vw, 15px);
    color: rgb(34, 179, 193);
  }
  .main .slides .slides-bg .slide .city-info .box a {
    padding: 0.3rem 1rem;
    background: rgb(34, 179, 193);
    text-decoration: none;
    border-radius: 1.4rem;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-size: clamp(12px, 4vw, 15px);
    margin: 0.5rem 0;
    text-align: center;
  }
  .main .slides .lines {
    bottom: 20px;
  }
  .about .container .best-location h2 {
    width: 100%;
    margin-bottom: 0;
  }
  .about .container .best-location p {
    width: 100%;
  }
}/*# sourceMappingURL=Main.css.map */